<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Cadastro de Filmes </title>
    <link rel="stylesheet" href="/static/style.css"/>
    <script defer src="app/post_movie.js"></script>
</head>
<body>
    <main>
        <h1 class="siteTitle">Cadastro de Filmes</h1>
        <!-- A estrutura abaixo se consiste em um forms comum, com labels e inputs representando o que o usuário deve digitar -->
        <form id="postMoviesForm" class="siteForm">
            <div class="inputGroup">
                <label class="siteLabel" for="title">Nome do Filme</label>
                <input type="text" class="siteInput" id="title" name="title" placeholder="Digite o nome do filme" required />
            </div>
            <div class="inputGroup">
                <label class="siteLabel" for="budget">Orçamento</label>
                <input type="number" min="0" class="siteInput" id="budget" name="budget" placeholder="Digite o orçamento do filme" required />
            </div>
            <div class="inputGroup">
                <label class="siteLabel" for="movie-duration">Duração</label>
                <input type="text" class="siteInput" id="movie-duration" name="movie-duration" placeholder="hh:mm:ss" pattern="^([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$" inputmode="numeric" required />
            </div>
            <div class="inputGroup">
                <label class="siteLabel" for="year">Ano de Lançamento</label>
                <input type="number" min="1900" max="2099" class="siteInput" id="year" name="year" placeholder="Insira o ano do filme" required />
            </div>
            <div class="inputGroup">
                <label class="siteLabel" for="poster">Link Poster</label>
                <input type="url" class="siteInput" id="poster" name="poster" placeholder="Insira o link do poster do filme" required />
            </div>
            <button id="postMoviesButton" class="siteButton" type="submit">Cadastrar</button>
        </form>
    </main>
</body>
</html>