<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/style.css"/>
    <title> Listagem de Filmes </title>
</head>
<body>
    <header>
        <h1 id="titleHeader"> WEBFLIX</h1>
        <ul class="linksHeader">
            <li><a href="./filmes_cadastro.html"> Cadastro de Filmes </a></li>    
            <li><a href="/"> Sair </a></li>    
        </ul>
    </header>
    <main id="filmsListMain">
        <!-- Estruturas html criadas somente para demonstrar uma possíbilidade de construção dessa página no futuro -->
        <section class="siteFilmGroup">
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
        </section>
        <section class="siteFilmGroup">
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
        </section>
        <section class="siteFilmGroup">
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
             <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
            <article class="siteCardFilm">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </article>
        </section>
    </main>
</body>
</html>