<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/style.css"/>
    <title> Listagem de Filmes </title>
    <script defer src="app/movies.js"></script>
</head>
<body id="bodyMovies">
    <header>
        <h1 id="titleHeader"> WEBFLIX</h1>
        <ul class="linksHeader">
            <li><a href="/filmes_cadastro"> Cadastro de Filmes </a></li>    
            <li><a href="/"> Sair </a></li>    
        </ul>
    </header>
    <main id="moviesListMain">
        <!-- Estruturas html criadas somente para demonstrar uma possíbilidade de construção dessa página no futuro -->
        <section>
            <div id="movies"></div>
        </section>
    </main>
</body>
</html>