<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WEBFLIX</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <main>
    <h1> WEBFLIX </h1>
        <div class="links"> <!-- 'div' utilizada para o alinhamento dos textos -->
            <a href="login"> Login </a>
            <p> | </p>
            <a href="cadastro"> Cadastro </a>
        </div>
    </main>
</body>
</html>
